@model IEnumerable<LittleLibrary.Models.UsersBooks>

@{
    ViewData["Title"] = "GetAccountDetails";
}

<h3>Purchase History</h3>

<br />

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Firstname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lastname)
            </th>
            <th>
                Book Purchased
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsPurchased)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.paymentMethod)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.paymentState)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Firstname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lastname)
            </td>
            <td>
                @ViewData["BookName"]
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsPurchased)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.paymentMethod)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.paymentState)
            </td>
        </tr>
}
    </tbody>
</table>
